mixin order(order)
    table(class="bordered")
        thead
        tbody
            tr
                td= "Amount"
                td= order.amount
            tr
                td= "Currency"
                td= order.currency