mixin order(order)
    table(class="bordered")
        thead
        tbody
            tr
                td= "Total"
                td= order.total
            tr
                td= "Currency"
                td= order.currency