include ../../shared/views/header.pug
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
div(class="container")
    h3= "Shopping Cart"
    div(class="row")
        div(class="col s6")
            include ../../shared/views/items.pug
        div(class="col s6")
            div(class="card")
                span(class="card-title")= "Total: $50.00"
                div(class="card-content valign-wrapper")
                    <a class="waves-effect waves-light btn">Checkout</a>
                    span(style="padding-left: 10px; padding-right: 10px")= "OR"
                    <div id="paypal-button-container"></div>
                    script.
                        paypal.Button.render({

                            env: 'sandbox', // sandbox | production

                            // PayPal Client IDs - replace with your own
                            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
                            client: {
                                sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                                production: '<insert production client id>'
                            },

                            // payment() is called when the button is clicked
                            payment: function(data, actions) {
                                return paypal.request.post('/classic/setexpresscheckout', {
                                    amount: 50,
                                    currency: 'USD',
                                    action: 'SALE'
                                })
                                .then(function(response) {
                                    return response.TOKEN;
                                });
                            },

                            // onAuthorize() is called when the buyer approves the payment
                            onAuthorize: function(data, actions) {
                                actions.redirect();
                            }

                        }, '#paypal-button-container');

include ../../shared/views/footer.pug